<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="content-wrapper">
    <div class="logo-container">
        <img src="assets/images/kulkerlogo.png" alt="Külkerlogo" id="logo">
    </div>
    <div id="register">
      <form (ngSubmit)="register()" [formGroup]="registerForm">
        <h2>{{"registration.Regisztrálj új fiókot!" | translate}}</h2>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{"registration.Felhasználónév:" | translate}}
                <div class="tooltip-container">
                  <span class="tooltip-icon">?</span>
                  <span class="tooltip-text">{{"registration.felh1" | translate}}</span>
                </div>
            </label>
            <input 
              name="username" 
              type="text" 
              class="form-control" 
              aria-describedby="emailHelp" 
              [(ngModel)]="username"
              formControlName="usernameControl">
              @if(usernameControl.invalid && (usernameControl.dirty || usernameControl.touched)){
                <small class="block p-error">
                  @if(usernameControl.hasError('required')){
                    <span class="err">{{"registration.err1" | translate}}</span>
                  }
                </small>
              }
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{"registration.Email:" | translate}}
              <div class="tooltip-container">
                <span class="tooltip-icon">?</span>
                <span class="tooltip-text">{{"registration.felh2" | translate}}</span>
              </div>
            </label>
            <input 
              name="email" 
              type="text" 
              class="form-control" 
              aria-describedby="emailHelp" 
              [(ngModel)]="email"
              formControlName="emailControl">
              @if(emailControl.invalid && (emailControl.dirty || emailControl.touched)){
                <small class="block p-error">
                  @if(emailControl.hasError('required')){
                    <span class="err">{{"registration.err2" | translate}}</span>
                  } @else if(emailControl.hasError('pattern')){
                    <span class="err">{{"registration.err3" | translate}}</span>
                  }
                </small>
              }
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">{{"registration.Oktatási azonosító szám:" | translate}}
              <div class="tooltip-container">
                <span class="tooltip-icon">?</span>
                <span class="tooltip-text">{{"registration.felh3" | translate}}</span>
              </div>
            </label>
            <input 
              name="studentId" 
              type="text" 
              class="form-control" 
              aria-describedby="emailHelp" 
              [(ngModel)]="studentId"
              formControlName="studentIdControl">
              @if(studentIdControl.invalid && (studentIdControl.dirty || studentIdControl.touched)){
                <small class="block p-error">
                  @if(studentIdControl.hasError('required')){
                    <span class="err">{{"registration.err4" | translate}}</span>
                  } @else if(studentIdControl.hasError('pattern')){
                    <span class="err">{{"registration.err5" | translate}}</span>
                  }
                </small>
              }
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{"registration.Jelszó:" | translate}}
              <div class="tooltip-container">
                <span class="tooltip-icon">?</span>
                <span class="tooltip-text">{{"registration.felh4" | translate}}</span>
              </div>
            </label>
            <input 
            name="password" 
            type="password" 
            class="form-control" 
            [(ngModel)]="password"
            formControlName="passwordControl">
            @if(passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)){
              <small class="block p-error">
                @if(passwordControl.hasError('required')){
                  <span class="err">{{"registration.err6" | translate}}</span>
                } @else if(passwordControl.hasError('pattern')){
                  <span class="err">{{"registration.err7" | translate}}</span>
                }
              </small>
            }
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">{{"registration.Jelszó megerősítés:" | translate}}
              <div class="tooltip-container">
                <span class="tooltip-icon">?</span>
                <span class="tooltip-text">{{"registration.felh5" | translate}}</span>
              </div>
            </label>
            <input 
            name="passwordConfirm" 
            type="password" 
            class="form-control" 
            [(ngModel)]="passwordConfirm" formControlName="passwordConfirmControl">
            @if(passwordConfirmControl.invalid && (passwordConfirmControl.dirty || passwordConfirmControl.touched)){
              <small class="block p-error">
                  <span class="err">{{"registration.err8" | translate}}</span>
              </small>
            }
            @if(registerForm.hasError('passwordMismatch') && passwordControl.valid && passwordConfirmControl.valid){
              <small class="block p-error">
                <span class="err">{{"registration.err9" | translate}}</span>
              </small>
            }
          </div>
          <button 
            type="submit" 
            class="btn"
            [disabled]="registerForm.invalid">{{"registration.Regisztráció" | translate}}</button>
          <br>
          <a [routerLink]="['/login']">{{"registration.Van már fiókja, jelentkezzen be most!" | translate}}</a>
        </form>
      </div>
  </div>
</body>
</html>