<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="register">
    <form (ngSubmit)="register()">
      <h2>Register new account</h2>
      <br>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Felhasználónév:
              <div class="tooltip-container">
                <span class="tooltip-icon">?</span>
                <span class="tooltip-text">A felhasználónévnek egyedinek kell lennie és maximum 255 karakter hosszúnak.</span>
              </div>
          </label>
          <input  name="userName" type="text" class="form-control"aria-describedby="emailHelp" [(ngModel)]="userName">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email:
            <div class="tooltip-container">
              <span class="tooltip-icon">?</span>
              <span class="tooltip-text">Adja meg egy létező email címet, illetve tartalmazza egy érvényes email cím formátumát.</span>
            </div>
          </label>
          <input  name="email" type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="email">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Oktatási azonosító szám:
            <div class="tooltip-container">
              <span class="tooltip-icon">?</span>
              <span class="tooltip-text">Az oktatási azonosító 7-tel kezdődik és pontosan 11 karakterből áll.</span>
            </div>
          </label>
          <input  name="studentId" type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="studentId">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Jelszó:
            <div class="tooltip-container">
              <span class="tooltip-icon">?</span>
              <span class="tooltip-text">Legalább 8 karakter hosszú, tartalmazzon kis- és nagybetűket, valamint legalább 1 számot és 1 speciális karaktert.</span>
            </div>
          </label>
          <input  name="passWord" type="password" class="form-control" [(ngModel)]="passWord">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Jelszó megerősítés:
            <div class="tooltip-container">
              <span class="tooltip-icon">?</span>
              <span class="tooltip-text">A jelszó megerősítésnek meg kell egyeznie az első jelszóval.</span>
            </div>
          </label>
          <input  name="passWordConfirm" type="password" class="form-control" [(ngModel)]="passWordConfirm">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <br>
        <a [routerLink]="['/login']">Already have an account, Log In now!</a>
      </form>
    </div>
</body>
</html>