<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="register">
    <form (ngSubmit)="register()">
      <h2>{{"registration.Regisztálj új fiókot!" | translate}}</h2>
      <br>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{{"registration.Felhasználónév:" | translate}}
              <div class="tooltip-container">
                <span class="tooltip-icon">?</span>
                <span class="tooltip-text">{{"registration.felh1" | translate}}</span>
              </div>
          </label>
          <input  name="userName" type="text" class="form-control"aria-describedby="emailHelp" [(ngModel)]="userName">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{{"registration.Email:" | translate}}
            <div class="tooltip-container">
              <span class="tooltip-icon">?</span>
              <span class="tooltip-text">{{"registration.felh2" | translate}}</span>
            </div>
          </label>
          <input  name="email" type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="email">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{{"registration.Oktatási azonosító szám:" | translate}}
            <div class="tooltip-container">
              <span class="tooltip-icon">?</span>
              <span class="tooltip-text">{{"registration.felh3" | translate}}</span>
            </div>
          </label>
          <input  name="studentId" type="text" class="form-control" aria-describedby="emailHelp" [(ngModel)]="studentId">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">{{"registration.Jelszó:" | translate}}
            <div class="tooltip-container">
              <span class="tooltip-icon">?</span>
              <span class="tooltip-text">{{"registration.felh4" | translate}}</span>
            </div>
          </label>
          <input  name="passWord" type="password" class="form-control" [(ngModel)]="passWord">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">{{"registration.Jelszó megerősítés:" | translate}}
            <div class="tooltip-container">
              <span class="tooltip-icon">?</span>
              <span class="tooltip-text">{{"registration.felh5" | translate}}</span>
            </div>
          </label>
          <input  name="passWordConfirm" type="password" class="form-control" [(ngModel)]="passWordConfirm">
        </div>
        <button type="submit" class="btn btn-primary">{{"registration.Regisztráció" | translate}}</button>
        <br>
        <a [routerLink]="['/login']">{{"registration.Van már fiókja, jelentkezzen be most!" | translate}}</a>
      </form>
    </div>
</body>
</html>