<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="rounded">
  <div id="login">
    <form (ngSubmit)="login()">
      <h2>{{"login.Jelentkezz be!" | translate}}</h2>
      <br>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">{{"login.Email:" | translate}}</label>
          <input name="oktAz" type="text" class="form-control" id="oktAz" aria-describedby="emailHelp" [(ngModel)]="email">
        </div>
        <br>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">{{"login.Jelszó:" | translate}}</label>
          <input name="passWord" type="password" class="form-control" id="passWord" [(ngModel)]="passWord">
        </div>
        <br>
        <button type="submit" class="btn">{{"login.Bejelentkezés" | translate}}</button>
        <br>
        <a [routerLink]="['/register']">{{"login.Nincs még fiókod, regisztrálj most!" | translate}}</a>
      </form>
  </div>
</body>
</html>