<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="rounded">
  <div id="login">
    <form (ngSubmit)="login()">
      <h2>Jelentkezz be!</h2>
      <br>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email:</label>
          <input name="oktAz" type="text" class="form-control" id="oktAz" aria-describedby="emailHelp" [(ngModel)]="email">
        </div>
        <br>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Jelszó:</label>
          <input name="passWord" type="password" class="form-control" id="passWord" [(ngModel)]="passWord">
        </div>
        <br>
        <button type="submit" class="btn">Bejelentkezés</button>
        <br>
        <a [routerLink]="['/register']">Nincs még fiókod, regisztrálj most!</a>
      </form>
  </div>
</body>
</html>