<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-between">
            
            <div class="col-md-5 text-center p-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Raktári szám</th>
                                <th scope="col">Cím</th>
                                <th scope="col">Szerző</th>
                                <th scope="col">Ár (Ft)</th>
                                <th scope="col">Pédány</th>
                                <th scope="col" colspan="2">
                                    <button type="button" class="btn btn-danger" (click)="createBook()">Hozzáad</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><p>{{books.whId}}</p></td>
                                <td>{{books.title}}</td>
                                <td>{{books.author}}</td>
                                <td>{{books.price}}</td>
                                <td>{{books.quantity}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="modifyBook()">Szerkesztés</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="deleteBook()">Törlés</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

</body>
</html>