<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <div class="row d-flex justify-content-between">
            
            <div class="col-md-5 text-center p-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Cím</th>
                                <th scope="col">Szerző</th>
                                <th scope="col">Ár (Ft)</th>
                                <th scope="col">Pédány</th>
                                <th scope="col">Raktári szám</th>
                                <th scope="col" colspan="2">
                                    <button type="button" class="btn btn-danger" (click)="createBook()">Hozzáad</button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of bookArray">
                                <!-- <td>{{book.book_type.title}}</td> -->
                                <!-- <td>{{book.book_type.author}}</td> -->
                                <!-- <td>{{book.book_type.price}}</td> -->
                                <!-- <td>{{book.book_type.copies}}</td> -->
                                <td>{{book.inventory_number}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="modifyBook()">Szerkesztés</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger" (click)="deleteBook()">Törlés</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
</body>
</html>