<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row d-flex justify-content-center">
        <div class="container d-flex align-items-center gap-3"> 
            <span id="felhasznalo">
                Név: {{ userName }}
            </span>
            <table class="table table-bordered text-center">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Könyv raktári száma</th>
                        <th scope="col">Állapot</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let loans of loanArray">
                        <td>{{ loans.inventory_number }}</td>
                        <td>{{ loans.status }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="returnBook(loans.id)">Visszaadás</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p>{{loanArray | json}}</p>
    <p>{{bookArray | json}}</p>
</body>
</html>
