<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="content-wrapper">
        <div>
            <img src="assets/images/kulkerlogo.png" alt="külkerlogo" id="logo">
        </div>
        <div id="bemutatkozas">
            <h2>
                {{"home.Bemutatkozás" | translate}}
            </h2>
            <p>{{"home.bemut1" | translate }}</p>
            <p>{{"home.bemut2" | translate }}</p>
            <p>{{"home.bemut3" | translate }}</p>
            <p>
                {{"home.több" | translate}}
                <a href="https://kulkertechnikum.hu/">{{"home.itt" | translate}}</a>.
            </p>
        </div>
    </div>
</body>
</html>
