html{
    background: linear-gradient(to left, rgb(11, 11, 88) ,#7878A2 , transparent 100%);
}
body {
    background-image: url("kulkerlogo.png");
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 94.3vh;
    width: 100vh;
    margin: 0;
    position: relative;
}
#bemutatkozas{
    width: 80vh;
    left: 120vh;
    position: absolute;
    text-align: justify;
    top: 10vh;
    /* border: 3px solid lightblue; */
    border-radius: 25px;
    padding: 10px;
    /* background-color: transparent; */
    background-image: linear-gradient(to right, white, lightgrey);
    -webkit-background-clip: text;
    color: transparent;
}
p{
    line-height: 30px;
}

/* rgb(11, 11, 88) */
