<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="rounded">
    <div id="bemutatkozas">
        <h2>Bemutatkozás</h2>
        <br>
        <p>
            A BZSH Külkereskedelmi Technikum célja, hogy magas szintű, gyakorlatorientált képzéseket kínáljon a gazdaság, pénzügy, logisztika és nemzetközi kereskedelem területén. Iskolánk programjai a piaci igényekhez igazodva biztosítják a diákok számára a szükséges elméleti és gyakorlati tudást, amely alapot ad a sikeres karrierhez a nemzetközi és hazai munkaerőpiacon.
        </p>
        <p>
            A képzés során a hallgatók elsajátítják a pénzügyi elemzést, a nemzetközi kereskedelmi szabályozást, üzleti kommunikációt és projektmenedzsmentet, miközben modern iparági szoftverek használatát is megtanulják. Az államilag támogatott, ingyenes szakképzés nappali és esti tagozaton is elérhető, ösztöndíj és szakmai gyakorlatok lehetőségével.
        </p>
        <p>
            Iskolánk szoros kapcsolatokat ápol a legnagyobb vállalatokkal, így a diákok biztos szakmai tapasztalatokat szerezhetnek, és versenyképes tudással léphetnek be a munka világába.
        </p>
        <p>
            További információkról az alábbi <a href="https://kulkertechnikum.hu/">linken</a> tudnak tájékozódni.
        </p>
    </div>
</body>
</html>
