<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="rounded">
    <div id="bemutatkozas">
        <h2>{{"home.Bemutatkozás" | translate}}</h2>
        <br>
        <p>
            {{"home.bemut1" | translate }}
        </p>
        <p>
            {{"home.bemut2" | translate }}
        </p>
        <p>
            {{"home.bemut3" | translate }}
        </p>
        <p>
            {{"home.több" | translate}}
            <a href="https://kulkertechnikum.hu/">
                {{"home.itt" | translate}}.
            </a>
        </p>
    </div>
</body>
</html>
