html {
    background: linear-gradient(to left, rgb(11, 11, 88), #7878A2, lightgrey 100%);
    min-height: 100vh;
}

body {
    background-color: transparent;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    min-height: 94.3vh;
    margin: 0;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
}

#bemutatkozas {
    flex: 1;
    min-width: 300px;
    max-width: 800px;
    text-align: justify;
    border-radius: 25px;
    padding: 20px;
    background-image: linear-gradient(to right, white, lightgrey);
    background-clip: text;
    color: transparent;
}

#logo {
    max-width: 300px;
    height: auto;
    transition: all 0.3s ease;
}


@media (max-width: 1600px) {
    #logo {
        max-width: 250px;
    }
}

@media (max-width: 1200px) {
    #logo {
        max-width: 200px;
    }
}

@media (max-width: 992px) {
    #logo {
        max-width: 180px;
    }
}
@media (max-width: 768px) {
    body {
        padding: 15px;
    }
    
    .content-wrapper {
        padding: 20px;
    }
    
    #logo {
        width: 200px;
    }
    
    p{
        line-height: 1.3;
    }
}

@media (max-width: 576px) {
    #logo {
        width: 150px;
    }
    
    ul {
        padding-left: 15px;
    }
    
    #bemutatkozas {
        margin-bottom: 3px;
    }
}