<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="row d-flex justify-content-between">
            
            <div class="col-md-5 text-center p-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Diák neve</th>
                                <th scope="col">Oktatási azonosítója</th>
                                <th scope="col">Szerző</th>
                                <th scope="col">Cím</th>
                                <th scope="col">Ár (Ft)</th>
                                <th scope="col" colspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let loan of loanArray">
                                <td>{{loan.author}}</td>
                                <td>{{loan.inventory_number_base}}</td>
                                <td>{{loan.title}}</td>
                                <td>{{loan.price}}</td>
                                <td>{{loan.copies}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger">Visszaadás</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

</body>
</html>