nav{
    background-color: #7878A2;
    border-radius: 5px;
}
/* #aeddf5 */
a, button{
    color: #F7EEDD;
}
#translateHU{
    left: 202vh;
    position: absolute;
    border-radius: 50vh;
}
#translateEN{
    left: 194vh;
    position: absolute;
    border-radius: 50vh;
}