<nav class="nav-container">
    <button class="hamburger-menu" (click)="toggleMenu()">☰</button>

    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <div class="nav-links" [class.show]="menuOpen">
            <button class="nav-link" routerLink="/home" (click)="closeMenu()">{{"navbar.Kezdőlap" | translate}}</button>
            <button class="nav-link" [routerLink]="['/login']" *ngIf="!auth.isLoggedIn()" (click)="closeMenu()">{{"navbar.bejelentkezés" | translate}}</button>
            <button class="nav-link" [routerLink]="['/libraryUser']" *ngIf="auth.isLoggedIn() && auth.isStudent()" (click)="closeMenu()">{{"navbar.Kikölcsönzött könyvek" | translate}}</button>
            <button class="nav-link" [routerLink]="['/books']" *ngIf="auth.isLoggedIn() && auth.isAdmin()" (click)="closeMenu()">{{"navbar.könyvek" | translate}}</button>
            <button class="nav-link" [routerLink]="['/students']" *ngIf="auth.isLoggedIn() && auth.isAdmin()" (click)="closeMenu()">{{"navbar.diákok" | translate}}</button>
            <button class="nav-link" [routerLink]="['/users']" *ngIf="auth.isLoggedIn() && auth.isAdmin()" (click)="closeMenu()">{{"navbar.felhasználók" | translate}}</button>
            <button class="nav-link" [routerLink]="['/libraryAdmin']" *ngIf="auth.isLoggedIn() && auth.isAdmin()" (click)="closeMenu()">{{"navbar.könyvtár" | translate}}</button>
            <button class="nav-link" [routerLink]="['/about']" (click)="closeMenu()">{{"navbar.névjegy" | translate}}</button>
            <button class="nav-link" [routerLink]="['/home']" *ngIf="auth.isLoggedIn()" (click)="logOut(); closeMenu()">{{"navbar.kijelentkezés" | translate}}</button>
        </div>

        <div class="translation-buttons">
            <button class="nav-link" *ngIf="currentLang !== 'en'" (click)="switchLanguage('en')">EN</button>
            <button class="nav-link" *ngIf="currentLang !== 'hu'" (click)="switchLanguage('hu')">HU</button>
        </div>
    </div>
</nav>
