<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-md-5 text-center p-3">
                <div class="box">
                    <table class="table table-bordered" id="okos">
                        <thead>
                            <tr>
                                <th scope="col">Book</th>
                                <th scope="col">Amount in library</th>
                                <th scope="col">Class</th>
                                <th scope="col">Amount to borrow</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>minta</td>
                                <td>minta</td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="number" class="form-control"></td>
                                <td><button class="btn btn-success">Kölcsönzés</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-md-5 text-center p-3">
                <div class="box">
                    <span id="felhasznalo">
                        Név: {{ userName }}
                    </span>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Borrowed book</th>
                                <th scope="col">Class</th>
                                <th scope="col">Borrowed amount</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>minta</td>
                                <td>minta</td>
                                <td>minta</td>
                                <td><button class="btn btn-danger">Visszaadás</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>