<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="about">
        <p>
            {{"about.nevj1" | translate}}
        </p>
        <p>
            {{"about.nevj2" | translate}}
            <li>
                {{"about.nevj3" | translate}}
            </li>

            <li>
                {{"about.nevj4" | translate}}
            </li>
        </p>
        <p>
            {{"about.nevj5" | translate}}
            <a href="mailto:titkarsag@kulkergimi.hu">{{"titkarsag@kulkergimi.hu"}}</a>, 
            <a href="mailto:titkarsag2@kulkergimi.hu">{{"titkarsag@kulkergimi.hu"}}</a>, 
            <a href="mailto:titkarsag3@kulkergimi.hu">{{"titkarsag@kulkergimi.hu"}}</a>
            <a href="mailto:titkarsag4@kulkergimi.hu">{{"titkarsag@kulkergimi.hu"}}</a>
        </p>
        <p>
            {{"about.nevj6" | translate}}
            <li>
                {{"about.nevj7" | translate}}
            </li>
            <li>
                {{"about.nevj8" | translate}}

            </li>
        </p>
    </div>
    <div id="lista">
        <p id="adatok">{{"about.nevj9" | translate}}</p>
        <ul class="list-unstyled">
            <li>{{"about.nevj10" | translate}}</li>
            <li>{{"about.nevj11" | translate}}</li>
            <li>{{"about.nevj12" | translate}}</li>
            <li>{{"about.nevj13" | translate}}</li>
            <li>{{"about.nevj14" | translate}}</li>
            <li>
                <a href="https://kulkertechnikum.hu/uploads/documents/ALAPDOKUMENTUMOK/adatkezelesi-tajekoztato.pdf">
                    {{"about.nevj15" | translate}}
                </a>
            </li>
        </ul>
    </div>
    <div id="fejlesztok">
        <p>
            {{"about.nevj16" | translate}}
        </p>
    </div>
</body>
</html>