<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="about">
        <p>
            Székhely és oktatási helyszín: 1065 Budapest, Révay u. 16. (Bejárat a Bálint Ház felől)
        </p>
        <p>
            A Titkárság ügyfélfogadási ideje:
            <li>
                Nappali tagozatosoknak: hétfő, kedd, csütörtök 9:00 - 15:00
            </li>

            <li>
                Esti tagozatosoknak: hétfő, kedd, csütörtök 16:00 - 18:00
            </li>
        </p>
        <p>
            Kérdéseidet a 
            <a href="mailto:titkarsag@kulkergimi.hu">{{"titkarsag@kulkergimi.hu"}}</a>, 
            <a href="mailto:titkarsag2@kulkergimi.hu">{{"titkarsag@kulkergimi.hu"}}</a>, 
            <a href="mailto:titkarsag3@kulkergimi.hu">{{"titkarsag@kulkergimi.hu"}}</a> 
            és a
            <a href="mailto:titkarsag4@kulkergimi.hu">{{"titkarsag@kulkergimi.hu"}}</a> 
            e-mail címeken teheted fel.
        </p>
        <p>
            És kérdezz bátran, mert ez segíthet abban, hogy az érettségi után okosan tudj továbblépni!
            <li>
                Központi telefonszám: +36 1 776 6620
            </li>
            <li>
                Titkársági elérhetőségek: +36 30 1938275, +36 20 3641872, +36 30 1796823

            </li>
        </p>
    </div>
    <div id="lista">
        <p id="adatok">Adataink:</p>
        <ul class="list-unstyled">
            <li>BZSH Külkereskedelmi Technikum</li>
            <li>Cím: 1065 Budapest, Révay utca 16.</li>
            <li>OM 100536 - Alapítási év: 2018</li>
            <li>Adószám: 18163164-1-42</li>
            <li>Intézményvezető: Salusinszky András</li>
            <li>
                <a href="https://kulkertechnikum.hu/uploads/documents/ALAPDOKUMENTUMOK/adatkezelesi-tajekoztato.pdf">
                Adatkezelési tájékoztató
                </a>
            </li>
        </ul>
    </div>
    <div id="fejlesztok">
        <p>
            A weboldalt <i>Kiss Cintia</i> és <i>Berta Péter</i> fejlesztette, akik egy modern, felhasználóbarát digitális könyvtár rendszert alakítottak ki a BZSH Külkereskedelmi Technikum számára. A rendszer lehetővé teszi a tanárok részére, hogy könnyedén kölcsönözhessenek könyveket, egyszerűsíti a könyvek nyilvántartását és elérhetőségét. A platform célja, hogy gyors és kényelmes hozzáférést biztosítson a könyvekhez, miközben biztosítja a kölcsönzési folyamatok átláthatóságát és hatékonyságát.
        </p>
    </div>
</body>
</html>