<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form (ngSubmit)="login()">
        <div class="mb-3">Username
          <label for="exampleInputEmail1" class="form-label"></label>
          <input  name="userName" type="text" class="form-control" id="userName" aria-describedby="emailHelp" [(ngModel)]="userName">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input  name="passWord" type="password" class="form-control" id="passWord" [(ngModel)]="passWord">
        </div>
        <button type="submit" class="btn btn-primary" >Login</button>
        <br>
        <a [routerLink]="['/register']">Don't have an account, register now!</a>
      </form>
</body>
</html>